<ion-view view-title="法国the French Republic" class="recommend">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap">
                <h3>简介</h3>
                <div><img src="images/f4.jpeg"></div>
                <p>法国全称法兰西共和国，法兰克在日耳曼语中意即“勇敢的、自由的”，这是罗马帝国时代对法国人祖先的赞誉。法国是欧洲浪漫的中心，它的悠久历史、具有丰富文化内涵的名胜古迹及乡野风光吸引着世界各地的旅游者。风情万种的花都巴黎，美丽迷人的蓝色海岸，盛开着薰衣草的普罗旺斯，美酒飘香的波尔多，都是令人神往的旅游胜地。
                    法国有20多处风景名胜被联合国列入世界文化和自然遗产：以卢浮宫和巴黎圣母院为中心的巴黎塞纳河滨、凡尔赛宫、枫丹白露宫、香波堡等。首都巴黎素有“世界花都”之称。这座美丽的城市不仅是法国的政治、文化、经济中心，而且是著名的旅游胜地。巴黎有70多座博物馆，众多的名胜古迹、教堂广场，值得细细品味。葡萄酒也是法国特色名片。最著名的三大产区，波尔多产区、勃艮第产区、香槟产区三大产区。红白葡萄酒著名的是Bordeaux(波尔多)、Bourgogne（勃垦第）白葡萄酒很出色。</p>
                <div><img src="images/f3.jpeg"></div>
                <div><img src="images/f1.jpeg"></div>
                <h3>最佳旅行时间</h3>
                <p>法国东部山地为大陆性气候，南部为亚热带地中海型气候。春、秋两季气候最宜人，最好的旅游季节是4—10月，7、8月两个月许多餐厅会关门去避暑，请特别注意。5月开始海滩上人海如潮，南法蔚蓝海岸是最热门的度假胜地、尼斯电影节、戛纳电影节和阿维尼翁戏剧节让法国的夏天更加迷人，而普罗旺斯的薰衣草也将在夏天盛放。进入10月，法国大部分地区将会进入秋季，美食和美酒将会摆满商店与餐桌。进入冬季，阿尔卑斯山和比利牛斯山是滑雪圣地，城市中圣诞气息浓郁。对购物狂们来说，1月和7月是法国换季大减价的季节，折扣低到不可想象。法国气候南北差异和季节性差异较大，北部气温和我国北方类似，秋冬多阴雨需要常备雨伞，南部相对温暖而多晴天，需要注意防暑防晒。巴黎等大城市非常时尚，出入高级餐厅、剧院等场所时，着装应该相应正式一些。法国有很多小路是用鹅卵石铺成的，请准备相对舒适的鞋。</p>
                <div><img src="images/f1.jpeg"></div>
                <h3>语言</h3>
                <p>在旅游景点、酒店、餐厅、车站等都有相应的英文指示。掌握基本的英文即可轻松游览法国。但如果你和法国人搭上话，最好还是学几个简单的法语单词，因为法国人对于自己民族的语言和文化有着非同一般的自豪感。当你表现出对法语的热爱和尊重，法国人也会乐意帮助你的。
                    法语日常用语
                    你好：Bonjour
                    谢谢：Merci
                    请：S’il vous plait
                    对不起：Pardon
                    再见：Au revoir
                    是：Oui
                    不是：Non
                    法语基本标志
                    入口Entrée
                    出口Sortie
                    营业Ouvert
                    歇业 Fermé
                    卫生间Toilettes</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>