<ion-view view-title="吹啊，吹啊，妖风吹向不列颠大农村" class="text">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap">
                <div><img ng-src="images/j.png"></div>
                <p>
                    从英国回来已经有几周了，慢慢调整着有些疲惫的身体。回看这次的照片，总难以找出令人十分满意的一些，大体和英国的天气有关。记得上学时候英文课中，总是说英国人打招呼十有八九是在谈论天气，去之前不理解，去过后却深有感触，因为基本每天在微信群里问的最多的便是英国的天气。大概是晴天注定不属于英国，而妖风和阴雨才是纯正的英国传统。所以以后不要再纠结于英国的天气了，它总是任性的复杂多变，即使上一分钟还是晴空万里，下一分钟也可以是狂风下雨。

                    如果每个事物都有其对应的标签的话，我对于英国的第一印象更多的则是一个倔强的矛盾体，也许很多看起来应当属于它的或者不属于它的，它都以自己的方式固执地运行着，并自得其乐，也许这在外人看起来是弊病，是需要变革的地方，但对它们来说，便是一种传统。大到国会日常的运转，小到每个公民对于农村的向往，日常种种都映射着传统和文化，不得不说它就是这么一个奇葩却又值得细细品味的国家。

                    如果我们没有多去走走转转，似乎便理所应当的认为自己是多么的独特，如果我们多去走走转转，也许则不会自惭形秽地感到自己是多么的奇葩，一个国家需要有自己的传统，一个人也应当保持自己不同的一面。
                </p>
                <div><img ng-src="images/st.png"></div>
                <div><img ng-src="images/s.png"></div>
                <p>
                    其实，比火车更便宜一些的交通方式，当然是大巴，在打折时候，经常城市间只需要几磅就可以搞定。但缺点也很明显，就是车次较少，并且时间较长，基本是火车花费时间的2倍。城市间的大巴选择一般是national express和megabus，不知为什么megabus我一直无法订票，所以这次只用了national express，这个公司基本涵盖的线路很多，基本大部分都有线路可以到达。

                    另外，对于经常做飞机的旅客，还有个巴士公司叫做easybus，主要提供城市与机场之间的交通服务，价格十分便宜，例如我这次从伦敦市区到gatwick机场，只花费了不到2磅，基本上这个公司的车都是以小巴为主。

                    最后，有时候我们去的景点可能在城市的外围地区，这样就会需要做当地的巴士前往，下面两个stagecoachbus和trainline网站有点像行程规划的网站，可以查到一些地区内部的交通时刻表，这对于计划行程十分有用。
                </p>
                <div><img ng-src="images/f.png"></div>
                <div><img ng-src="images/o.png"></div>
                <p>
                    英国早餐也可以成为旅行中的一部分。就如同它们知名的下午茶一样，英国人似乎总可以把某项事情演变成有着仪式感的一项传统，这也可以称的上是一种文化吧。

                    一般的英式早餐种类较多，但品种基本一样，包括香肠、培根、西红柿、蘑菇、吐司以及相应的茶水等等，而英国对于茶的痴迷似乎从种类中便可以看出，作为一个不爱喝茶的人来说，真的很难体会出这种的区别，有这个爱好的人可以细细品味一下。
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>