<ion-view view-title="美国United States of America" class="recommend">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap">
                <h3>简介</h3>
                <p>美国，全称美利坚合众国，是一个由五十个州和一个联邦直辖特区组成的宪政联邦共和制国家。1776年7月4日，大陆会议在费城正式通过《独立宣言》，宣告美国诞生。美国的东西和南北跨度都非常大，因而全国的气候差别也相当大。同样在冬季，有些地区气温降至了零下几度，而有些地方却可以泡海水浴。</p>
                <div><img src="images/USA.png"></div>
                <h3>最佳旅行时间</h3>
                <p>5月-10月最佳</p>
                <h3>建议游玩天数</h3>
                <p>11天</p>
                <h3>当地气候</h3>
                <p>美国的东西和南北跨度都非常大，因而全国的气候差别也相当大</p>
                <h3>语言</h3>
                <p>通用英语，个别州通用西班牙语</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>