<ion-view view-title="攻略" class="strategypic">
    <ion-content>
        <div class="row">
            <div class="col"><img src="images/m.png" ui-sref="home.recommend"></div>
            <div class="col"><img src="images/ai.png" ui-sref="home.recommend2"></div>
            <div class="col"><img src="images/bl.png" ui-sref="home.recommend3"></div>
            <div class="col"><img src="images/cd.png" ui-sref="home.recommend"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/d.png" ui-sref="home.recommend3"></div>
            <div class="col"><img src="images/p.png" ui-sref="home.recommend2"></div>
            <div class="col"><img src="images/r.png" ui-sref="home.recommend"></div>
            <div class="col"><img src="images/yg.png" ui-sref="home.recommend3"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/11.png" ui-sref="home.recommend"></div>
            <div class="col"><img src="images/12.png" ui-sref="home.recommend2"></div>
            <div class="col"><img src="images/13.png" ui-sref="home.recommend3"></div>
            <div class="col"><img src="images/14.png" ui-sref="home.recommend"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/15.png" ui-sref="home.recommend"></div>
            <div class="col"><img src="images/16.png" ui-sref="home.recommend2"></div>
            <div class="col"><img src="images/17.png" ui-sref="home.recommend3"></div>
            <div class="col"><img src="images/20.png" ui-sref="home.recommend2"></div>
        </div>
        <div class="row">
            <div class="col"><img src="images/22.png" ui-sref="home.recommend3"></div>
            <div class="col"><img src="images/23.png" ui-sref="home.recommend"></div>
            <div class="col"><img src="images/24.png" ui-sref="home.recommend2"></div>
            <div class="col"><img src="images/25.png" ui-sref="home.recommend3"></div>
        </div>
    </ion-content>
</ion-view>